/*img {
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}*/

.img-zoom {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    
    .img-zoom:hover  {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    padding: 1em;
    }
  
    .random_color:nth-child(odd)
    {
        /* Customize ? */
    }
    .random_color:nth-child(even)
    { 
       
          /* Customize ? */
  
    }

    .myred{
        background-color:rgb(233, 63, 51) !important;
    }

    #full_name_label{display: none;}
    #message_label{display: none;}
    #email_label{display: none;}